%p Step 1
%p Select the room you wish to book:
%p cookie glass etc

%p Step 2
%p Select the day you wish to view availability for:

#calendar

%p Step 3
%p If available, click to book your slot!

- @bookings.each do
  yoda
