/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.default_hidden {
  display: none;
}

.wordwrap_me {
  font-family: Open Sans, Helvetica;
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
      }

h1 {
  text-transform: uppercase;
}

ul.nav a {
  text-transform: uppercase;
}

a.brand {
  text-transform: uppercase;
}

.navbar,
.navbar-fixed-top,
.navbar-inner,
.container {
  background-color: white;
}

.mynav {
  margin-top: 18px !important;
  font-size: 20px;
  font-family: Oswald, Open Sans, Helvetica;
}

a#linkedin_button {
  color: white;
  padding: 20px;
}

a#linkedin_button:hover {
  text-decoration: none;
  color: grey;
  background-color: none;
}

.margin_button {
  margin: 20px 10px  15px 10px !important;
}

.left_footer, .right_footer {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

ul.member {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Open Sans, Helvetica;
  font-size: 15px;
}

.member li {
  color: #99ddc4;
  list-style-type: none;
  font-weight: normal;
  text-transform: capitalize;
}

.member li a {
  text-decoration: none;
  color: #99ddc4;
}

