// Place all the styles related to the Skill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Oswald, Open Sans, Helvetica;
}

tr:hover {
  background-color: #CDCDCD;
  font-family: Oswald, Open Sans, Helvetica;
}

td {
 font-family: Oswald, Open Sans, Helvetica;
}

p {
  font-family: Open Sans, Helvetica;
}

.makeopensans {
  font-family: Open Sans, Helvetica;
}

.thumbnail {
  padding: 19px;
}

footer {
  background-color: #373737;
  color: white;
  padding: 20px;
}

.table_name {
  width:  20%;
}

.table_company {
  width: 20%;
}

.table_skills {
  width: 60%;
}

.spacer {
  margin-right: 30px;
}

.float_left {
  float: left;
}

.better_font {
  font-family: Open Sans, Helvetica;
}

.bold {
  font-weight: bold;
}

.start_hidden {
  // display: none;
}

input[name='commit'] {
  position: absolute;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  padding: 4.5px 10px;
  background-color: #373737;
  color: white;
}