// Place all the styles related to the Skill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Oswald, Open Sans, Helvetica;
}

tr:hover {
  cursor: pointer;
  background-color: #CDCDCD;
  font-family: Oswald, Open Sans, Helvetica;
}

td {
 font-family: Oswald, Open Sans, Helvetica;
}

p {
  font-family: Open Sans, Helvetica;
}

.makeopensans {
  font-family: Open Sans, Helvetica;
}

.thumbnail {
  padding: 19px;
}

footer {
  background-color: #373737;
  color: white;
  padding: 20px;
}