%footer
  .left_footer
    %p &copy; Playfair Capital 2013
  .right_footer
    %ul.member
      MEMBERS
      %li= link_to 'Bookings', url_with_protocol('http://www.warneryard.com/book-meeting-room/')
      %li= link_to 'Zipcar', url_with_protocol('http://www.zipcar.com/warneryard/')
      %li= link_to 'Pricing Plan', url_with_protocol('http://www.warneryard.com/pricing-plan/')
      %li= link_to 'Terms & Conditions', url_with_protocol('http://www.warneryard.com/terms-conditions/')